.img{
    width: 20em;
    height:30em;
    Border:2px solid pink;
    float: left;
    padding:;
    
    
}
#header{
    text-align: center;
    color: white;
}
#background-color{
    background-color:purple;
}
.text{
    overflow-wrap:break-word;
    width: 100%;
    height:30%;
    border:2px solid pink;
    color:white;

}
.img1{
    width:20em;
    height:30em;
   
}
#Jimin-name{
    margin:10px 120px;
    Color:pink;
    font-size: 40px;
}