
.smaller-div{
    width:50%;
}


#img-Jimin{
    width: 20em;
    height:30em;
    Border:3px solid pink;
    float: left;
    padding:;
    
    
}
#img-V{
    width: 20em;
    height:30em;
    Border:3px solid green;
    float: right;
    padding:;
    
}
#img-jungkook{
    width: 20em;
    height:30em;
    Border:3px solid purple;
    float: left;
    padding:;
    
}
#img-namjoon{
    width: 20em;
    height:30em;
    Border:3px solid blue;
    float: right;
    padding:;
}
#img-hoseok{
    width: 20em;
    height:30em;
    Border:3px solid red;
    float: left;
    padding:;
}
#img-yoongi{
    width: 20em;
    height:30em;
    Border:3px solid black;
    float: right;
    padding:;
}
#img-seokjin{
    width: 20em;
    height:30em;
    Border:3px solid yellow;
    float: left;
    padding:;
}

#header{
    text-align: center;
    color: white;
}
#background-color{
    background-color:#9966CC;
}
#text-for-jimin{
    overflow-wrap:break-word;
    width: 1883px;
    height:35em;
    border:3px solid pink;
    color:white;
    

}
#text-for-teahyoung{
    overflow-wrap:break-word;
    width: 1883px;
    height:35em;
    border:3px solid green;
    color:white;
    
}
#text-for-jungkook{
    overflow-wrap:break-word;
    width: 1883px;
    height:35em;
    border:3px solid Purple;
    color:white;
   
}
#text-for-namjoon {
    overflow-wrap:break-word;
    width: 1883px;
    height:35em;
    border:3px solid blue;
    color:white;
   
}
#text-for-hoseok{
    overflow-wrap:break-word;
    width: 1883px;
    height:35em;
    border:3px solid red;
    color:white;
}
#text-for-yoongi{
    overflow-wrap:break-word;
    width: 1883px;
    height:35em;
    border:3px solid black;
    color:white;
}
#text-for-seokjin{
    overflow-wrap:break-word;
    width: 1883px;
    height:35em;
    border:3px solid yellow;
    color:white;
}

.img1{
    width:20em;
    height:30em;
   
}
#Jimin-name{
    margin:10px 750px;
    Color:pink;
    font-size: 40px;
}
#teahyoung-name{
    margin: 10px 760px;
    color:green;
    font-size:40px;
}
#jungkook-name{
    margin: 10px 685px;
    color:Purple;
    font-size:40px;
}
#namjoon-name{
    margin: 10px 750px;
    color:blue;
    fant-size:4px;
}
#hoseok-name{
    margin: 10px 720px;
    color:red;
    font-size:40px;
}
#yoongi-name{
    margin: 10px 760px;
    color:black;
    font-size:40px;
}
#seokjin-name{
    margin: 10px 770px;
    color:yellow;
    font-size:40px;
}






* {
    padding: 0;
    margin: 0;
}
#logo{
    float: left;
    width:100px;
    height: 50px;
    margin-top:-7px;
    margin-left: 30px;
    padding-left:560px;
    display:block;
}

#Top-Of-Page{
    background-color: #434547;
    padding: 10px;
    color: white;
    width: 100%;
    display: inline-flex;
   
    
}
.words{
    padding: 10px 30px; 
}
.word{
    padding: 10px 50px; 
    padding-left:50px;
}

#title{
    text-align:center;
    height: 100%;
    background-color: #777879;
    padding: 10px;
    font-size: 40px

}
#DOGO-PICTURE{
    Float: left;
    width: 300px;
    height: 160px;
    padding:;
}
.Text{
    overflow-wrap:break-word;
    background-color:;
    width: auto;
    height: auto;
    font-size:21px;

}

.div-for-art{
    width: 15em;
    height:30em;
    padding: 33px;
    
    

}
.outside-art-div{
    background-color:#FFFF00;
    height: 30em;
    width: 300px;
    float: left;
    margin:35px;
    
}

.Art-Text{
    text-align: center;
    padding-top: 10px;
}



.Art-Div{
    width: 100%
}

#background-color{  
    background-color: white;
    padding:0;
    margin: 0;
}

div.sticky{
    position: fixed;
    Bottom: 10px;
    border: solid red;
    border-radius: 50px;
    box-shadow: 0px 10px 8px;
    height: 120px;
    width:900px;
    background-color: Yellow;
    margin-left: 490px;

}

.Sticky-words{
    Text-align: center;
}


